<footer>
    <div>
        <h3>Связь с нами:</h3>
        <p>
            <img src="../img/street-icon.png" alt="Бесплатная консультация">
            <a href="../index.php">Запросить бесплатную консультацию</a>
        </p>
        <p>
            <img src="../img/email-icon.png" alt="Почта">Почта: fixlabv@gmail.com
        </p>
        <p>
            <img src="../img/phone-icon.png" alt="Номер">
            <a href="tel:+37129995639">+371 29995639</a> | Мастер: 12:00 - 20:00
        </p>
        <p>
            <img src="../img/phone-icon.png" alt="Номер">
            <a href="tel:+37126982943">+371 26982943</a> | Менеджер: 10:00 - 23:00
        </p>
    </div>
    <div style="text-align: center;">
        <h3>Время работы:</h3>
        <p>Понедельник - Пятница: 12:00 - 20:00</p>
        <p>Суббота: по записи</p>
        <p>Воскресенье: по записи</p>
    </div>
    <div style="text-align: center;">
        <h3>Адрес:</h3>
        <p>Rīga: Krišjana Valdemara 62A Rimi (Бесплатная парковка)</p>
        <p><a href="../ru/delivery.php">Бесплатная доставка по записи</a></p>
    </div>
    <div style="padding-left: 10px;">
        <h3>Соцсети:</h3>
        <p>
            <img src="../img/facebook-icon.png" alt="Facebook">
            <a href="https://www.facebook.com/profile.php?id=61556708657105">Facebook</a>
        </p>
        <p>
            <img src="../img/instagram-icon.png" alt="Instagram">
            <a href="https://www.instagram.com/fixlab.lv/">Instagram</a>
        </p>
        <p>
            <img src="../img/tiktok-icon.png" alt="Tiktok">
            <a href="https://www.tiktok.com/@fixlab.lv">Tiktok</a>
        </p>
    </div>
</footer>