        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../scripts/script.js"></script>
        <meta name="description" content="Наша компания специализируется на ремонте компьютеров, телефонов и других электронных устройств. Мы предлагаем профессиональный и надежный сервис по разумным ценам, чтобы гарантировать, что ваше устройство работает идеально. Наша команда экспертов с многолетним опытом готова помочь с любыми вопросами. Свяжитесь с нами, чтобы узнать больше о наших услугах и решить проблемы с вашим устройством!">
        <link rel="icon" href="../img/logo.png">
    </head>
    <body>
        
        <header>
            <div>
                <a href="../ru/main.php"><img src="../img/logo.png" alt="Логотип" class="logo"></a>
            </div>
            <div class="search">

            </div>
            <div>
                <div class="mobileNumber">
                    <div>
                        <p>Информационный телефон: 26982943</p>
                    </div>
                    <div>
                        <ul class="languageList">
                            <li><div><p>RU</p></div>
                                <ul>
                                    <li class="languageListItem"><a href=""><div><img src="../img/flag_eng.png" alt=""><p>ENG</p></div></a></li>
                                    <li class="languageListItem"><a href="../index.php"><div><img src="../img/flag_lv.png" alt=""><p>LV</p></div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <button onclick="menuToggle()" class="dropbtn">Меню</button>
                    <ul class="headerList" id="headerList">
                        <li><a href="main.php">Главная</a></li>
                        <li><a href="shop.php">Магазин</a></li>
                        <li class="headerListForPC">Услуги
                            <ul>
                                <li><a href="repairPC.php"><div><p>Ремонт компьютеров</p></div></a></li><hr>
                                <li><a href="repairLaptop.php"><div><p>Ремонт ноутбука</p></div></a></li><hr>
                                <li><a href="repairTablet.php"><div><p>Ремонт планшета</p></div></a></li><hr>
                                <li><a href="repairPhone.php"><div><p>Ремонт телефона</p></div></a></li><hr>
                                <li><a href="otherDevices.php"><div><p>Другие устройства</p></div></a></li><hr>
                                <li><a href="businessClients.php"><div><p>Бизнес клиентам</p></div></a></li>
                            </ul>
                        </li>
                        <li class="headerListForPhone"><a href="repairPC.php">Ремонт компьютеров</a></li>
                        <li class="headerListForPhone"><a href="repairLaptop.php">Ремонт ноутбука</a></li>
                        <li class="headerListForPhone"><a href="repairTablet.php">Ремонт планшета</a></li>
                        <li class="headerListForPhone"><a href="repairPhone.php">Ремонт телефона</a></li>
                        <li class="headerListForPhone"><a href="otherDevices.php">Другие устройства</a></li>
                        <li class="headerListForPhone"><a href="businessClients.php">Бизнес клиентам</a></li>
                        <li><a href="delivery.php">Доставка</a></li>
                        <li><a href="contact.php">Контакты</a></li>
                        <li><a href="aboutUs.php">О нас</a></li>
                    </ul>
                </nav>
            </div>
        </header>