        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../scripts/script.js"></script>
        <meta name="description" content="Mūsu specialistu komanta veis datoru, telefonu un citu ierīču profesionālo remontu. Mēs piedāvājam augstas kvalitātes pakalpojumus par izdevīgam cenām. Visiem mūsu darbiem 6 mēnešu garantija. Mūsu komandā tehniķi ar lielo pieredzi, gatavi palīdzēt ar jebkuru jautājumu! Sazinieties ar mums, lai uzzinātu vairāk par mūsu pakalpojumiem un kā atrisinātu problēmas ar jūsu ierīci!">
        <link rel="icon" href="../img/logo.png">
    </head>
    <body>

        <header>
            <div>
                <a href="../index.php"><img src="../img/logo.png" alt="Логотип" class="logo"></a>
            </div>
            <div class="search">

            </div>
            <div>
                <div class="mobileNumber">
                    <div>
                        <p>Informatīvais tālrunis: 26982943</p>
                    </div>
                    <div>
                        <ul class="languageList">
                            <li><div><p>LV</p></div>
                                <ul>
                                    <li class="languageListItem"><a href=""><div><img src="../img/flag_eng.png" alt="english"><p>ENG</p></div></a></li>
                                    <li class="languageListItem"><a href="../ru/main.php"><div><img src="../img/flag_ru.jpg" alt="русский"><p>RU</p></div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <button onclick="menuToggle()" class="dropbtn">Izvēlne</button>
                    <ul class="headerList" id="headerList">
                        <li><a href="../index.php">Galvenā</a></li>
                        <li><a href="shop.php">Veikals</a></li>
                        <li class="headerListForPC">Pakalpojumi
                            <ul>
                                <div>
                                    <li><a href="repairPC.php"><div><p>Datora remonts</p></div></a></li><hr>
                                    <li><a href="repairLaptop.php"><div><p>Laptopa remonts</p></div></a></li><hr>
                                    <li><a href="repairTablet.php"><div><p>Planšetdatora remonts</p></div></a></li><hr>
                                    <li><a href="repairPhone.php"><div><p>Telefona remonts</p></div></a></li><hr>
                                    <li><a href="otherDevices.php"><div><p>Citu ierīču remonts</p></div></a></li><hr>
                                    <li><a href="businessClients.php"><div><p>Biznesa klientiem</p></div></a></li>
                                </div>
                            </ul>
                        </li>
                        <li class="headerListForPhone"><a href="repairPC.php">Datora remonts</a></li>
                        <li class="headerListForPhone"><a href="repairLaptop.php">Laptopa remonts</a></li>
                        <li class="headerListForPhone"><a href="repairTablet.php">Planšetdatora remonts</a></li>
                        <li class="headerListForPhone"><a href="repairPhone.php">Telefona remonts</a></li>
                        <li class="headerListForPhone"><a href="otherDevices.php">Citu ierīču remonts</a></li>
                        <li class="headerListForPhone"><a href="businessClients.php">Biznesa klientiem</a></li>
                        <li><a href="delivery.php">Piegāde</a></li>
                        <li><a href="contact.php">Kontakti</a></li>
                        <li><a href="aboutUs.php">Par mums</a></li>
                    </ul>
                </nav>
            </div>
        </header>